<mat-card style="max-width:400px;margin:30px auto;">
  <h2>Change Password</h2>

  <form [formGroup]="form">

    <mat-form-field class="full">
      <input matInput type="password" placeholder="Current Password" formControlName="current_password">
    </mat-form-field>

    <mat-form-field class="full">
      <input matInput type="password" placeholder="New Password" formControlName="new_password">
    </mat-form-field>

    <mat-form-field class="full">
      <input matInput type="password" placeholder="Confirm Password" formControlName="confirm_password">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="submit()">
      Update Password
    </button>

  </form>
</mat-card>
