<mat-card>

  <h2 *ngIf="step === 1">Forgot Password</h2>
  <h2 *ngIf="step === 2">Reset Password</h2>

  <form *ngIf="step === 1" [formGroup]="emailForm">
    <mat-form-field class="full">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="sendOtp()">Send OTP</button>
  </form>

  <form *ngIf="step === 2" [formGroup]="resetForm">
    <mat-form-field class="full">
      <mat-label>OTP</mat-label>
      <input matInput formControlName="otp">
    </mat-form-field>

    <mat-form-field class="full">
      <mat-label>New Password</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>

    <button mat-raised-button color="accent" (click)="reset()">Reset</button>
  </form>

</mat-card>
